<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://ironsummitmedia.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Just4humanity</h1>
                    <hr class="small">
                    <span class="subheading">We are exploring this world..</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <% @pages.each do |page|%>
            <div class="post-preview">
                <%= link_to page do %>
                    <h2 class="post-title">
                        <%= page.topic.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= strip_tags(page.content.to_s)[0..55] %>
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <%= link_to page.creator.name, "//facebook.com/#{page.creator.uid}", target: "_blank" %> on <%= page.reviewed_on.strftime('%d/%m/%Y %H:%M')%></p>
            </div>
            <hr/>
            <% end %>
            <!-- Pager -->
            <!--ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul-->
        </div>
    </div>
</div>
