.row
  .col-md-12
    %p.text-right
      %b Subject:
      = @topic.subject.name
    %p
      %h3.text-center= @topic.title
    %p
      = @topic.preface.try(:html_safe)
    %p.text-right.post-meta
      Posted by #{ link_to(@topic.creator.name, "http://facebook.com/#{@topic.creator.uid}", target: '_blank') } on #{ @topic.created_at.strftime('%d/%m/%Y %H:%M')}
    - if @topic.status == 'In Discussion'
      %p.pull-right
        %b Discussion Closing time:
        = @topic.closing_time.strftime("%d-%m-%Y %H:%M")
- if @topic.comments.any?
  .row
    - @topic.comments.each do |comment|
      .col-md-12.comment-bar
        .post-subtitle
          = comment.content.try(:html_safe)
          .pull-right
            = link_to like_comment_path(comment), method: :put do
              %i.fa.fa-thumbs-up
            = link_to dislike_comment_path(comment), method: :put do
              %i.fa.fa-thumbs-down
            Score: #{comment.weighted_score}
        %p.text-left.post-meta
          From #{ link_to(comment.creator.name, "http://facebook.com/#{comment.creator.uid}", target: '_blank') } on #{ comment.created_at.strftime('%d/%m/%Y')}
.row
  .col-md-12
    = form_for @topic.comments.build do |f|
      .field
        = f.cktext_area :content, class: 'form-control'
        = f.hidden_field :topic_id, value: @topic.id
      .field
        %br/
        = f.submit "Comment", class: 'btn btn-primary'
