= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  %h3.text-center= @page.topic.title
  .field
    = f.label :content
    = f.cktext_area :content, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
